body {
  padding: 0;
  margin: 0;
  background-color: #16161a;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 56px;
}

p {
  color: #c0c0c0;
  font-size: 18px;
}
