:root {
  --black-primary: #16161a;
  --black-secondary: #242424;
  --white-primary: #fffffe;
  --gray-primary: #c0c0c0;

  --purple-primary: #7f5af0;
  --grading-primary: linear-gradient(
    180deg,
    #7f5af0 0%,
    rgba(45, 144, 237, 0.97) 100%
  );
}
